<ion-header>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img [src]="img" class="menu_logo" routerLink="/"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-row class="ion-align-items-center" style="height: 100%;">
          <ion-col size="4"routerLink="/amazon-page" class="page-links">AMAZON <ion-icon name="logo-amazon"></ion-icon></ion-col>
          <ion-col size="4"routerLink="/google-page" class="page-links">GOOGLE <ion-icon name="logo-google"></ion-icon></ion-col>
          <ion-col size="4"routerLink="/contact-page" class="page-links">ABOUT US <ion-icon name="chatbubble"></ion-icon></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light"
          tooltip="Contact us at ana.martinez@eternalstonellc.com."
          placement="bottom" [hideDelay]="0"fill="outline" href="mailto:ana.martinez@eternalstonellc.com">
          CONTACT US
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
