<app-header></app-header>
<ion-content [fullscreen] color="light">
  <ion-grid class="ion-no-padding">
    <ion-row style="padding-top: 40px;">
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" sizeLg="9">
            <ion-card>
              <ion-card-header>
                <ion-label>
                  <h1 style="font-weight: bold;">
                    Google ADS <ion-icon name="logo-google"></ion-icon>
                  </h1>
                </ion-label>
              </ion-card-header>
              <ion-card-content>
                <ion-list  [inset]="true">
                  <ion-item *ngFor="let text of actions">
                    <ion-label>
                      {{text}}
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
