
.icon-imgs{
  height: 150px;
  width: 150px;
}

.action-cards{
  background-color: #fff;
  border-radius: 2px;
}

.cards-with-imgbg{
  text-align: center;
  color: #fff;
  background-size: cover;
  padding: 40px 0px;
  margin: 20px 10px;
  max-width: 30%!important;
}
.cards-with-imgbg h4{
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
}

.cards-with-bluebg{
  text-align: end;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px;
  margin: 20px 10px;
  max-height: 150px;
  max-width: 40%!important;
}
.cards-with-bluebg h4{
  padding-top: 20px;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000000;
}

.last-call{
  background-color: black;
  text-align: center;
  color: #fff;
  padding: 80px 0px;
}

.init-slide{
  background-image: linear-gradient(
    to bottom,
    #1b1a1788,
    #e6d5b8c8
  ),url('../../assets/workingTable.jpg');
  padding: 150px 0;
  color: #fff;
}
.init-slide i{
  font-size: 3rem!important;
}
