<app-header></app-header>
<ion-content [fullscreen]>
  <ion-grid class="ion-no-padding">
    <ion-row style="height: 89vh">
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" style="text-align: center;">
            <ion-title><i>Take your business
              to the next level.</i></ion-title>
            <h3><i>With Etenernal Stone, the ADS are powerfull.</i></h3>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top: 50px;">
          <ion-card>
            <ion-col size="6">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <h1 style="margin: 0;">Why Eternal Stone?</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" style="text-align: end;">
                  <ion-img class="icon-imgs"
                    src="../../assets/amazon-ads-verified-partner-badge-304x200-1.png"></ion-img>
                </ion-col>
                <ion-col size="6">
                  <ion-img class="icon-imgs" src="../../assets/google-partner-badge-264x200-1.png"></ion-img>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6" class="ion-align-items-center">
              <h4>Eternal Stone is a marketing and advertising agency that offers services for Amazon Ads. 
              Their team collaborates with manufacturers and sellers to create effective strategies that surpass their goals and address common issues with seller management. 
              The company is made up of experienced marketers who use time-tested marketing principles that are suitable for modern Omni Channel brands. 
              They focus on enhancing product visibility and developing customized advertising strategies, such as Amazon DSP, to drive long-term growth and increase profitability.</h4>
            </ion-col>
          </ion-card>
        </ion-row>
        <ion-row [style]="img">
          <ion-col size="3" style="text-align: center;">
            <ion-card class="ion-no-margin ion-no-padding">
              <h4>Advertising in Amazon</h4>
              <p>Improve visibility, achieve sales goals & fuel growth.</p>
              <ion-button shape="square" href="/amazon-page">
                Learn More
              </ion-button>
            </ion-card>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-card class="ion-no-margin ion-no-padding">
              <h4>Consulting in Amazon</h4>
              <p>Make important decisions with confidence.</p>
              <ion-button shape="square" href="/amazon-page">
                Learn More
              </ion-button>
            </ion-card>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-card class="ion-no-margin ion-no-padding">
              <h4>DSP Ads</h4>
              <p>Buy display & video ads on & off Amazon.</p>
              <ion-button shape="square" href="/amazon-page">
                Learn More
              </ion-button>
            </ion-card>
          </ion-col>
          <ion-col size="3" style="text-align: center;">
            <ion-card class="ion-no-margin ion-no-padding">
              <h4>Google Ads</h4>
              <p>Google Partner Ads specialists in your corner.</p>
              <ion-button shape="square" href="/google-page">
                Learn More
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="last-call">
          <ion-col size="12">
            <h3>Talk to us about your <span>business goals</span></h3>
            <ion-button tooltip="Contact us at ana.martinez@eternalstonellc.com."
              placement="bottom" [hideDelay]="0"href="mailto:ana.martinez@eternalstonellc.com">
              CONTACT US
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
