<app-header></app-header>
<ion-content [fullscreen] color="light">
  <ion-grid class="ion-no-padding">
    <ion-row style="padding-top: 40px;">
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" sizeLg="9">
            <ion-card>
              <ion-card-header>
                <ion-label>
                  <h1 style="font-weight: bold;">
                    Amazon ADS <ion-icon name="logo-amazon"></ion-icon>
                  </h1>
                </ion-label>
              </ion-card-header>
              <ion-card-content>
                Advertising provides a visibility boost to your brand and products.
                Ads appear in highly visible placements, within shopping results or on product detail pages.
                Many shoppers come to Amazon ready to buy.
                Advertising can help you reach customers who are looking for products like yours.
                <img [src]="imageMoney" alt="">
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
