<app-header></app-header>
<ion-content [fullscreen] color="light">
  <ion-grid class="ion-no-padding">
    <ion-row style="padding-top: 40px;">
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" sizeLg="9">
            <ion-card>
              <ion-card-header>
                <ion-label>
                  <h1 style="font-weight: bold;">
                    Vision
                  </h1>
                </ion-label>
              </ion-card-header>
              <ion-card-content>
                At Eternal Stone LLC, we aspire to be recognized as a leading wholesale product supplier in multiple
                markets, delivering customized and exceptional solutions to meet the needs of our customers while
                maintaining high standards of quality and service. We strive to be an innovative and sustainable
                company,
                embracing responsible business practices and technologies to continuously improve our operational
                efficiency
                and minimize our impact on the environment. As we expand our reach and product portfolio, we seek to
                establish strong and lasting relationships with our customers, suppliers, and partners, creating a
                thriving
                ecosystem of business benefits. Our vision is to be a leading company in the reseller market, recognized
                for
                our excellence in service, product quality, and ability to innovate and adapt to the changing needs of
                the
                market.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" sizeLg="9">
            <ion-card>
              <ion-card-header>
                <ion-label>
                  <h1 style="font-weight: bold;">
                    Mission
                  </h1>
                </ion-label>
              </ion-card-header>
              <ion-card-content>
                At Eternal Stone LLC, our mission is to provide high-quality products and exceptional service to our customers. We strive to be the trusted supplier for each of our clients, offering customized and affordable solutions that meet their needs and expectations. We are committed to maintaining high standards of business ethics, transparency, and honesty in all our relationships. With our customer-centric focus and passion for excellence, we seek to establish long-lasting and mutually beneficial relationships with our clients and suppliers. Ultimately, we aim to be a leading company in the reseller market, fostering the growth and success of both our clients and our own business.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" sizeLg="5">
            <ion-card>
              <ion-card-header>
                <ion-card-title>For inquiries and partnership opportunities, please feel free to contact us
                  at</ion-card-title>
                <ion-card-subtitle>ana.martinez@eternalstonellc.com</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                8241 Marshall Brae Dr.
                Raleigh.North Carolina
                27516
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
