<app-header></app-header>
<ion-content [fullscreen]>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" sizeLg="9">
            <ion-card>
              <ion-card-header>
                <ion-label>
                  <h1 style="font-weight: bold;">
                    Vision
                  </h1>
                </ion-label>
              </ion-card-header>
              <ion-card-content>
                At Eternal Stone LLC, we aspire to be recognized as a leading wholesale product supplier in multiple
                markets, delivering customized and exceptional solutions to meet the needs of our customers while
                maintaining high standards of quality and service. We strive to be an innovative and sustainable
                company,
                embracing responsible business practices and technologies to continuously improve our operational
                efficiency
                and minimize our impact on the environment. As we expand our reach and product portfolio, we seek to
                establish strong and lasting relationships with our customers, suppliers, and partners, creating a
                thriving
                ecosystem of business benefits. Our vision is to be a leading company in the reseller market, recognized
                for
                our excellence in service, product quality, and ability to innovate and adapt to the changing needs of
                the
                market.
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12" sizeLg="3">
            <ion-card>
              <ion-card-header>
                <ion-card-title>For inquiries and partnership opportunities, please feel free to contact us
                  at</ion-card-title>
                <ion-card-subtitle>ana.martinez@eternalstonellc.com</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
