.init-slide{
  background-image: linear-gradient(
    to bottom,
    #1b1a1788,
    #e6d5b8c8
  ),url('../../assets/contactus.jpg');
  padding: 150px 0;
  color: #fff;
  background-position: center;
}
.init-slide i{
  font-size: 3rem!important;
}
